<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
<header>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h5 class="my-0 mr-md-auto font-weight-normal">Product Management</h5>
      <div id="newP" style="margin-left: 70%;"><a class="btn btn-outline-primary" href="/#">Back</a></div>
</div>
</header>
<center><img src="" alt=""></center>
<center><h1>Add New Product</h1></center>
<h2>{{error}}</h2>
<form action="/doInsert" method="post" id="formNew">
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="txtName" class="form-control"  placeholder="Product Name" required> 
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Price</label>
    <input type="text" name="txtPrice" class="form-control"  placeholder="Product price" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Color</label>
    <input type="text" name="txtColor" class="form-control"  placeholder="Color" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Quantity</label>
    <input type="text" name="txtQuantity" class="form-control" placeholder="Quantity" required>
  </div><br>

  <button type="submit" class="btn btn-primary">ADD</button>
</form>
{{> footer}}

</body>
</html>